/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 Aug, 2014, 1:40:59 AM
    Author     : preet_000
*/

.item{
    /*width: 1336px;*/
    height: auto;
}
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  margin-top: 20px;
}
h1{
    color:#cc0033;
}
body{
    padding: 0;
}
/*.carousel ol{
    top:75%;
    right: 49.5%;
}*/